{% extends 'basic.html' %}

{% block title%} Home{% endblock %}
 {% block homeactive %} active{% endblock homeactive %}
{% block body %}
<div class="containter">
 <div class="jumbotron">
  <h1 class="display-4">Welcome to TuitionBD Homepage!</h1>
  <p class="lead">This is a simple  website where you can find your desired Tuition!</p>
  <hr class="my-4">
  <p>I think you will enjoy our website.</p>
  <a class="btn btn-primary btn-lg" href="/tuition/userprofile" role="button">Go to Your profile</a>
</div>
</div>
{% endblock body %}