{% extends 'basic.html' %}
{% load humanize %}
{% block title%} View Post{% endblock %}
{% block homeactive %} active{% endblock homeactive %}

{% block css %}
.sidebar {
margin: 0;
width: 180px;
background-color: #f1f1f1;
height: 95%;
overflow: auto;
overflow-y: scroll;
display: block;
color: black;
padding: 16px;
text-decoration: none;
}

/* The sidebar menu */
.sidenav {
height: 90%; /* Full-height: remove this if you want "auto" height */
width: 190px; /* Set the width of the sidebar */
position: fixed; /* Fixed Sidebar (stay in place on scroll) */
z-index: 1; /* Stay on top */
top:10; /* Stay at the top */
left: 0;

display: block;
overflow: auto;
margin: 0;
overflow-y: scroll;
background-color: #3132e6;
overflow-x: scroll;
padding-top: 200px;
}


/* The navigation menu links */
.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #f1f1f1;
}

{% endblock %}

{% block body %}
{% load crispy_forms_tags %}
{% load static %}
{% comment %} <div class="sidebar">
    <a class="active" href="#home">Home</a>
    <a class="nav-link" href="/createpost">Create Post</a>
    <div class="nav-item my-2">
        <div class="btn btn-outline-dark my-2 my-sm-0 mx-3"> {% now "h:i A" as current_time %}
            {{ current_time|center:"150"  }}
        </div>
        <div class="btn btn-outline-dark my-2 my-sm-0 ml-auto"> {% now "D jS F Y" %}
        </div>
    </div>
</div> {% endcomment %}
{% if user.is_authenticated %}
<div class="sidenav">
    <a class="nav-link" href="/posts/createpost/">Create a Tuition Post</a>
</div>


<div class="col-md-6 offset-md-3">
  <form action="/posts/filterpost/" method="post">
    {% csrf_token %}

    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect01" name="district_i" >
        <option ></option>
        {% for i in district %}
        <option value="{{i}}">{{i.id}}:{{i}}</option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <label class="input-group-text" for="inputGroupSelect01">District</label>
      </div>
    </div>

    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect03" name="subject_i" >
        <option ></option>
        {% for i in subject %}
        <option value="{{i}}">{{i.id}}:{{i}}</option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <label class="input-group-text" for="inputGroupSelect03">Subject</label>
      </div>
    </div>

    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect02" name="class_i" >
        <option ></option>
        {% for i in classes %}
        <option value="{{i}}">{{i.id}}:{{i}}</option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <label class="input-group-text" for="inputGroupSelect02"> Class</label>
      </div>
    </div>

    <button class="btn btn-outline-info " type="submit" value="submit">Filter Posts </button>

  </form>
</div>




<div class="col-md-9 offset-md-3">
<div class="container">
    
    {% for post in posts %}
    <div class="col-md-12 ">
        <div class="row bg-succes no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col  p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 ">
                    <div>
                    <a href="/profile/otherprofile/{{post.author.username}}">
                        <h4>{{post.author.first_name}} {{post.author.last_name}}</h4>
                    </a>
                    <span class="badge badge-secondary">
                        {{post.timeStamp|naturaltime}}</span>
                </div>
                 -Searching for a Teacher.
                </strong>
                <div class="preview">
                For <b>{{post.medium}}</b>'s student
                     {% comment %}  for subject:
                <b>
                    {% for sub in subject %}
                    {{sub}}
                    {% if not forloop.last %}
                    and
                    {% endif %}
                    {% endfor %}
                </b>
                for <b>
                    {% for cls in class_in %}
                    {{cls}}
                    {% if not forloop.last %}
                    and
                    {% endif %}
                    {% endfor %}
                </b>
                in
                
                    {% for place in preferedPlace %}
                    <b>
                    {{place}}</b>
                    {% if not forloop.last %}
                    or
                    {% endif %}
                    {% endfor %}, of  {% endcomment %}
                   in {{post.district}} District
                
                <br>
                <b>Salary:</b>{{post.salary}}
                <br>
                    <p class="card-text mb-auto"> <a href="{% url 'posts:blogPost' sno=post.sno %}"
                            class="stretched-link">...Details</a></p>
                    <br>
                
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% else %}
<div class="mt-3">
    <h3>Please Login to see posts </h3>
</div>
{% endif %}
{% endblock %}
<!-- <div class="col-auto d-none d-lg-block">
                    <img src="/media/{{item.image}}" class="bd-placeholder-img" width="200" height="250"
                        aria-label="Placeholder:thumbnail">
                    </img>
                </div> -->