{% extends 'basic.html' %}

{% block title%} Occupation{% endblock %}
{% block body %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<div class="col-md-7 offset-md-3">
        <form  method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <fieldset class="form-group mx-auto">
                <legend class="border-bottom text-center mb-4"><h2>Occupation</h2></legend>
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-outline-info " type="submit" value="submit">Save</button>
            {% comment %} <input type="submit" value="Submit"> {% endcomment %}
        </form>
<button class="btn " style="width:auto; color:white;"><a href="/metrimony/body/">Skip This</a></button>

</div>
{% endif %}
{% endblock %}