<title>name html</title>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container my-3">
    <h3>Contact Us</h3>
<form action="about" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
    {% comment %} {{ form.as_ul }} {% endcomment %}
    {% comment %} <div class="fieldWrapper">
    {{ form.name.errors }}
    {{ form.name.label_tag }}
    {{ form.name }}
</div>
    <div class="fieldWrapper">
    {{ form.email.errors }}
    {{ form.email.label_tag }}
    {{ form.email }}
</div>
    <div class="fieldWrapper">
    {{ form.phone.errors }}
    {{ form.phone.label_tag }}
    {{ form.phone }}
</div>
    <div class="fieldWrapper">
    {{ form.content.errors }}
    {{ form.content.label_tag }}
    {{ form.content }}
</div> {% endcomment %}
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
</div>
