{% extends 'basic.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>
<div class="container-fluid">

<div class="row " style="position: absolute;
top: 350px;
">
    <a href="/posts/viewpost/">
    <div class="col" >
      <p>TuitionProfile</p>
      <img src="/static/images/student.png" style=" display: block; max-height:auto; max-width:auto;object-fit: fill;
  margin-left: auto;
  margin-right: auto;
" alt="">
      </div></a>
      <a href="/metrimony/partners/">
    <div class="col" >
      <p>Metrimony</p>
        <img src="/static/images/couple.png" style=" display: block;
  margin-left: auto;
  margin-right: auto;
" alt="">
      </div></a>
      <a href="/tolet/viewtolet/">
    <div class="col"      >
      <p>To-let</p>
      <img src="/static/images/property.png" style=" display: block;
  margin-left: auto;
  margin-right: auto;
" alt="">
      </div></a>
    {% comment %} <div class="col " style=" background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/static/images/architect.jpg');
      height:160px;
     width:340px;
      ">2</div> {% endcomment %}
</div>
</div>
<div  style=" position: absolute;
top: 510px; width:1360px; height: 170px; background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),white; color:black; text-align:center;">
<h1>Welcome To Desirebd</h1>
<p style="text-align:justify; color:black; text-shadow:1px 1px blue; padding-right:40px; padding-left:30px;">
We are here to meet you with your Desire. You have to just create a profile and just need to add approriate data 
to your profile.Our Program will automatically does its task and you will meet with your desire. Stay with us, be happy!
</p>

</div>
{% endblock  %}
{% block css %}
p{
    
    color:white;
    text-shadow:1px 1px blue;
    text-align:center;
    vertical-align:bottom;
    
}
{% endblock %}