{% extends 'basic.html' %}
{% block notifications %} active
{% endblock  %}
{% block body %}
{% load notifications_tags %}
{% load humanize %}
{% load static %}
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>

{% comment %} {% notifications_unread %} {% endcomment %}
{% notifications_unread as unread_count %}
{% if unread_count %}
    You have <strong>{{ unread_count }}</strong> unread notifications.
    <form action="/profile/markasread/" method="post"> 
{% csrf_token %}
<button type="submit"  class="btn  btn-primary btn-sm">Mark All As Read</button>
</form>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
{% register_notify_callbacks callbacks='fill_notification_badge,my_special_notification_callback' %}
{% live_notify_list %}
{{live_notify_list|safe}}
{% endif %}
{% for i in notifications_unread %}
    {{i}}
{% endfor %}
{% for q in qs %}
{{q|safe}}
<br>
{% endfor %}
{% endblock  %}


 {% block js %} 
  <script>
  function my_special_notification_callback(data) {
    for (var i=0; i < data.unread_list.length; i++) {
        msg = data.unread_list[i];
        console.log(msg);
    }
}
  </script>
  {% endblock %}
  {% block css %}
   ul.live_notify_list li{
      color:white;
      width:auto;
    }
    body{
        color:white;
    }
    .row{
        color:white;
    }
    .btn{
        width:auto;
        
    }
  {% endblock  %}