{% extends 'basic.html' %}
{% block title%} User List {% endblock %}
{% block body %}
{% if user.is_authenticated %}
<div class="col-md-6 offset-md-3">
  <form action="/profile/teacherlist/" method="post">
    {% csrf_token %}

    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect01" name="district_i" >
        <option ></option>
        {% for i in district %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <label class="input-group-text" for="inputGroupSelect01">District</label>
      </div>
    </div>

    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect03" name="subject_i" >
        <option ></option>
        {% for i in subject %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <label class="input-group-text" for="inputGroupSelect03">Subject</label>
      </div>
    </div>

    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect02" name="class_i" >
        <option ></option>
        {% for i in classes %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <label class="input-group-text" for="inputGroupSelect02"> Class</label>
      </div>
    </div>

    <button class="btn btn-outline-info " type="submit" value="submit">Filter For Teacher </button>

  </form>
</div>

<div class="col-md-6 offset-md-3">
  <div class="container">
    {% for u in users %}
    <div class="col-md-12 ">
      <div
        class="row bg-succes no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col  p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 ">
            <div>
              <a href="/profile/otherprofile/{{u.username}}/">
                <h4>{{u.first_name}} {{u.last_name}}</h4>
              </a>
            </div>
          </strong>
          <div class="preview">
            email: {{u.email}}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <h1>Please Login First</h1>
  {% endif %}
  {% endblock %}
  {% block css %}
  h1{
    color:white
  }
  {% endblock  %}