<nav class="navbar navbar-expand-lg navbar-light " style="background:none; color:white; text-color:white;">
    <a class="navbar-brand" style=" color:white; text-color:white;" href="/profile/">DesireBD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style=" color:white; text-color:white;">Menu</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item "><a class="nav-link" href="/profile/changepass/">ChangePass</a></li>
            <li class="nav-item "><a class="nav-link" href="/profile/tuitionprofile/"> Edit Tuition Profile</a></li>
            <li class="nav-item "><a class="nav-link" href="{% url 'updateprofile' %}"> Edit UserProfile</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Edit Metrimony Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown"
                    style="background:none;">
                    <a class="dropdown-item" style=" color:#26f1fb;" href="/metrimony/personal/">Personal Info</a>
                    <a class="dropdown-item" style=" color:#26f1fb;" href="/metrimony/occupation/">Occupation</a>
                    <a class="dropdown-item" style=" color:#26f1fb;" href="/metrimony/address/">Address</a>
                    <a class="dropdown-item" style=" color:#26f1fb;" href="/metrimony/family/">Family</a>
                    <a class="dropdown-item" style=" color:#26f1fb;" href="/metrimony/body/">Body Information</a>
                    <a class="dropdown-item" style=" color:#26f1fb;" href="/metrimony/hobby/">Hobby</a>
                    <a class="dropdown-item" style=" color:#26f1fb;" href="/metrimony/expectation/">Expectation</a>
                </div>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Education Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown"
                    style="background:none;">
                    <a class="dropdown-item" style=" color:#26f1fb;" href="{% url 'updatessc' %}">SSC</a>
                    <a class="dropdown-item" style=" color:#26f1fb;" href="/profile/updatehsc/">HSC</a>
                    <a class="dropdown-item" style=" color:#26f1fb;"  href="/profile/afterhsc/">UnderGraduation</a></a>
                    <a class="dropdown-item" style=" color:#26f1fb;" href="/profile/postgraduate/">PostGraduation</a>
                </div>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    As Visitors
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown"
                    style="background:none;">
                    <a class="dropdown-item" style=" color:#26f1fb;" href="/profile/otherprofile/{{user.username}}/">UserProfile</a>
                    <a class="dropdown-item" style=" color:#26f1fb;" href="/metrimony/metrimony_profile/{{user.username}}/">Metrimony Profile</a>
                </div>

            </li>
            

        </ul>
    </div>

</nav>