{% extends 'basic.html' %}
{% load humanize %}
{% block title%}  Your Profile{% endblock %}

{% block userprofile %} active{% endblock userprofile %}
{% block body %}
{% load static %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<div class="col-md-18 ">    
        <div class="media">
            <img class="rounded-circle account-img my-2 mx-3 mr-3" src="{{user.userprofile.image.url}}" alt="...">
            <div class="media-body">            
                <ul>
                <li><a href="/profile/changepass/">ChangePass</a></li>
                <li>
                <a href="">
                Edit
                </a>
                <div class="sub-menu-1">
                    <ul>
                    <li class="hover-me"><a href="">Metrimony Profile</a>
                                <div class="sub-menu-2">
                                    <ul>
                                        <li><a href="/metrimony/personal/">Personal Info</a></li>
                                        <li><a href="/metrimony/occupation/">Occupation</a></li>
                                        <li><a href="/metrimony/address/">Address</a></li>
                                        <li><a href="/metrimony/family/">Family</a></li>
                                        <li><a href="/metrimony/body/">Body Information</a></li>
                                        <li><a href="/metrimony/hobby/">Hobby</a></li>
                                        <li><a href="/metrimony/expectation/">Expectation</a></li>
                                    </ul>
                                </div>

                        </li>
                        <li><a href="{% url 'updateprofile' %}">UserProfile</a></li>
                        <li class="hover-me"><a href="">Education Profile</a>
                                <div class="sub-menu-2">
                                    <ul>
                                        <li><a href="{% url 'updatessc' %}">SSC</a></li>
                                        <li><a href="/profile/updatehsc/">HSC</a></li>
                                        <li><a href="/profile/afterhsc/">UnderGraduation</a></li>
                                        <li><a href="/profile/postgraduate/">PostGraduation</a></li>
                                    </ul>
                                </div>

                        </li>
                        
                        <li><a href="/profile/tuitionprofile/">Tuition Profile</a></li>                        
                    </ul>
                    </div>
                </li> 
                </ul>
                <br>
                <br>
                <h5 class="mt-0">UserName:{{user.username}}</h5>
                Name: {{user.first_name}} {{user.last_name}}
                <br>
                Email:{{user.email}}
                <br>
                Blood Group: {{user.userprofile.blood_group}}
                <br>
                
            </div>
        </div>

    </div>


    
    {% for post in post %}
    <div class="col-md-8 offset-md-2  ">
        <div class="row bg-succes no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col  p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 ">
                    <div>
                    <a href="/profile/otherprofile/{{post.author.username}}">
                        <h4>{{post.author.first_name}} {{post.author.last_name}}</h4>
                    </a>
                    <span class="badge badge-secondary">
                        {{post.timeStamp|naturaltime}}</span>
                </div>
                 -Searching for a Teacher.
                </strong>
                <div class="preview">
                For <b>{{post.medium}}</b>'s student
                   in {{post.district}} District
                
                <br>
                <b>Salary:</b>{{post.salary}}
                <br>
                    <p class="card-text mb-auto"> <a href="/posts/{{post.sno}}/"
                            class="stretched-link">...Details</a></p>
                    <br>
                
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for item in mytolet %}
    <div class="col-md-8 offset-md-2 ">
        <div class="row bg-succes no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col  p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">
                    <a href="/profile/otherprofile/{{item.user.username}}">
                        <h4>{{item.user.first_name}} {{item.user.last_name}}</h4>
                </strong></a>
                <div class="preview">
                     is giving To-let of a <b> <i> {{item.category}} </i></b> in <i><b>{{item.district}} </b></i>
                
                <br>
                <b>Rent:</b>{{item.rent}}
                    <p class="card-text mb-auto"> <a href="/tolet/toletpost/{{item.id}}"
                            class="stretched-link">...Details</a></p>
                    <br>
                   
                   
                        
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    

{% endif %}
{% endblock %}
{% block css %}
div.media-body {
    height: auto;
    width:100%;
    color:white;
    background: none;}
    .col-md-18{
        text-align:left;
    }
    .media-body ul li{
        width:450px;
        text-align:center;
    }
    .media-body ul li ul li{
        width:-226px;
        float:center;
        text-align:right;
    }
    .col-md-8{
            color:white;
    }
    

 .media-body ul{
    display: inline-flex;
    list-style: none;
    color: aqua;
    
}
 .media-body ul li{
    width: 420px;
    padding: 15px;
}
 .media-body ul li a{
    text-decoration: none;
    color: whitesmoke;
}
 .media-body ul li a:hover{
    background: rgb(7, 241, 27);
    border-radius: 3px;
    display: block;
}
 .media-body .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
 .media-body  ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: none;
    margin-top: -05px;
    margin-left: -15px;
}
 .media-body  ul li:hover .sub-menu-1 ul{
    display: block;
}
 .media-body  ul li:hover .sub-menu-1 ul li{
    width: 220px;
    padding: 10px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
 .media-body  ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
 .media-body  ul li:hover .sub-menu-1 ul li a:hover{
    color: blue;
}

 .fa-angle-right{
     float: right;
 }
 .sub-menu-2{
     display: none;
 }
 .hover-me:hover .sub-menu-2{
     position: absolute;
     display: block;
margin-top: -40px;
margin-left:140px;
background: none;
 }
{% endblock  %}